
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
.container{
  width: 1140px;
  margin: 0 auto;
}

@mixin btn {
  width: 272px;
  height: 77.25px;
  background: linear-gradient(148.24deg, #032658 1.03%, #1B6CE1 60.39%);
  font-family: 'Work Sans',sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 88px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: .4s;
  &:hover{
    transform: scale(1.1);
    background: linear-gradient(148.24deg, #032658 1.03%, #1B6CE1 60.39%);
    box-shadow: 0 97px 90px rgba(7, 0, 59, 0.12);
  }
}